<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create Your MadLib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrap.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the text boxes to generate your completed MadLib!</h1>
    <form action="/body" method="post">
      <label for="">Placehodler</label>
      <input id="" name="" type="text">
      <label for="">Placehodler</label>
      <input id="" name="" type="text">
      <button type="submit">Generate!</button>
    </form>
  </body>
</html>
    
